#status {
	color: #eee;
}
#file-input {
	background-color: #ddd;
	height: 50px;
	width: 100%;
	font-size: 30px;
}
#result {
	color: #e33;
}
#preview {
	max-width: 800px;
}
body {
	background-color: #222;
	margin:20px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:30px;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	color: #cf0;
}

#videoDiv {
	width: 100%;
	text-align: center;
}

#videoButtonsDiv {
	width: 100%;
}

#contContainer {
	float: right;
}

#continuous-label {
	color: #bbb;
	margin-top: 50px;
}

#continuous {
	transform: scale(2);
	margin: 5px;
}

#capture {
	width: 200px;
	height: 50px;
	font-size: 20px;
}

#progress {
  width: 100%;
  background-color: #ccc;
  display: none;
  border-width: 0px;
  border-color: #eee;
  margin-top:5px;
  margin-bottom:5px;
}

#progressBar {
  width: 1%;
  height: 30px;
  background-color: #222;
}

#webcam {
	display: none;
}

#detect-webcam {
	display: block;
	width: 400px;
	height: 50px;
	font-size: 20px;
	margin-top: 40px;
}